### Files

# Library files .o
*.o

# Python byte files *.pyc
*.pyc

# Cython compiled libraries on Windows *.pyd
*.pyd

# Text files *.txt
*.txt

# Sublime workspace files
*.sublime-workspace

# Corel Draw files
*.cdr

# Specific files
qmeq/lindbladc.c
qmeq/neumannc.c
qmeq/neumann2c.c
#
qmeq/lindbladc_setupc.py
qmeq/neumann2c_setupc.py
qmeq/neumannc_setupc.py
#
qmeq/lindbladc_makefile.bat
qmeq/neumannc_makefile.bat
qmeq/neumann2c_makefile.bat
#
qmeq/pylintrc
#
qmeq/neumannpy_linblad.py
qmeq/neumannpy_complex.py
#
qmeq/docs/index.html.lnk
qmeq/docs/source/conf_scipy.py
qmeq/docs/source/conf_standard.py
qmeq/docs/source/qmeq.neumannpy_complex.rst

### Directories

# Build directories
qmeq.egg-info/
qmeq/build
qmeq/docs/build

# Specific directories
qmeq/tests
tutorial/.ipynb_checkpoints
tutorial/various
#
tutorial/Lecture-0-Introduction-to-QuTiP.ipynb
tutorial/example_anderson.ipynb
tutorial/example_anderson.py
tutorial/tutorial - Copy.ipynb
