### Files

# Compiled library files
*.o
*.so
*.pyd
*.dll

# Python byte files *.pyc
*.pyc

# Text files *.txt
*.txt

# Specific files
docs/index.html.lnk
docs/run.bat
qmeq/pylintrc
qmeq/specfuncc.c
qmeq/approach/c_pauli.c
qmeq/approach/c_lindblad.c
qmeq/approach/c_redfield.c
qmeq/approach/c_neumann1.c
qmeq/approach/c_neumann2.c
qmeq/approach/_complex_redfield.py
qmeq/approach/_complex_neumann1.py

### Directories

# Build directories
.cache/
build/
dist/
docs/build
qmeq.egg-info/
qmeq/build
qmeq/tests/__pycache__

# Specific directories
project/
qmeq/tests_